body {
  background: linear-gradient(90deg, rgb(44, 40, 130) 0%, rgba(9,9,121,1) 35%, rgb(80, 154, 169) 100%);
  /* overflow-x:hidden; скрыть горизонтальный скрол */
}
a {
  text-decoration: none;
}
.link {
  color: cornflowerblue !important;
  font-size: 18px !important;
  line-height: 24px !important;
}
#title {
  color: #4d18df; /* background стилизация по ID */
}
#mainLink {
  color: #ef7373;
}
.title {
  color: #0aa691; /* background стилизация по классу */
  font-size: 28px;
  line-height: 36px;
  font-weight: 700 !important;
}
.text{
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #cb20cb;
}
.subtitle {
  color: #e0921c; 
  font-size: 36px;
  font-style: normal;
  line-height: 80px;
  font-weight: 500 !important;
}
.picture {
  border-radius: 20px 50px 10px 80px !important;
  width: 350px !important;
}
.inputText {
  width: 200px !important;
  height: 40px;
  outline: none;
  border: 1px solid #1381a5;
  border-radius: 15px;
  font-size: 14px;
  line-height: 30px;
}